#container {
    text-align: center;
    border: 2px solid black;
}

#salárioBF {
    margin: 10px auto 10px;
}

#vendas {
    margin: 10px auto 10px;
}

#comissao {
    display: block;
}

#salarioT {
    display: block;
}