body {
    background-color: black;
    
}

#container {
    color: palevioletred;
    border: 6px solid palevioletred;
    text-align: center;
    margin: 50px 400px 50px;
    border-radius: 40px;
    background-color: pink;
}

#botao {
    margin: 30px auto 30px;
    display: block;
    border: 2px solid palevioletred;
    background-color: pink;
    color: palevioletred;
    border-radius: 8px;
}

#texto {
    margin: 30px auto 30px;
}

#kits {
    border-radius: 40px;
    border: 2px solid palevioletred;
    background-color: pink;
    color: palevioletred;
}